.post-body form {
	display: flex;
	flex-wrap: wrap;
}
.post-body form .name {
	width: 50%;
}
.post-body form .email {
	width: 50%;
}
.post-body form .mensagem {
	width: 100%;
	margin-bottom: 2vh;
}
.post-body form .mensagem textarea {
	width: 80%;
}
.post-body form button {
	padding: 1vh 4vh;
	background-color: #000;
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
}
